/*=====================================
                Base
=====================================*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body{
    font: normal 400 1.8rem "Roboto", sans-serif;
}
a{
    text-decoration: none;
}
.wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
p{
    margin: 0;
    line-height: 170%;
}

/*===================================
            Composantes
===================================*/

/*------------Header---------------*/
header{
    /*position: fixed;*/
    width: 100%;
    z-index: 5;
    border-top: 4px solid #E25254;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    gap: 15px;
    list-style: none;
}
header a{
    color: #474747;
}
.logo{
    font: normal 400 4.2rem "Josefin Sans", sans-serif;
}

/*-----------Hero------------*/

.hero {
    background-image: url(../images/hero.jpg);
    background-position: bottom;
    background-size: cover;
}
.hero .wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 600px;
}
.banniere{
    max-width: 50%;
    background-color: #E2525499;
    color: #fff;
    padding: 55px 30px;
    
    display: flex;
    flex-direction: column;
}
.banniere a{
    display: inline-block;
    background-color: #C0392B;
    padding: 10px 20px;
    color: #fff;
    align-self: flex-end;
    margin-top: 25px;
}
h1{
    font: normal 700 4.8rem "Roboto", sans-serif;
}

/*------------Section Produits-----------*/
.produits{
    background-color: #ECF0F1;
    padding-top: 75px;
    padding-bottom: 75px;
}

.produits h2{
    font: normal 700 3.6rem "Josefin Sans", sans-serif;
    color: #474747;
}
.produits h2 + p{
    color: #474747;
}
.articles-tableau{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 35px;
    margin-top: 30px;
}
.articles-tableau article{
    background-color: #fff;
    padding: 30px;
}
.articles-tableau article:hover{
    background-color: #E25254;
    color: #fff;
}
.articles-tableau article:hover h3::before{
    color: #fff;
}
.articles-tableau article:hover h3{
    color: #fff;
}
.articles-tableau h3{
    font: normal 700 2.2rem "Josefin Sans", sans-serif;
    color: #E25254;
}


/*----Icones----*/
.t1 h3::before{
    color: #E25254;
    content: "filter_1";
    font-family: "Material Icons";
    font-size: 3.0rem;
}
.t2 h3::before{
    color: #E25254;
    content: "filter_2";
    font-family: "Material Icons";
    font-size: 3.0rem;
}
.t3 h3::before{
    color: #E25254;
    content: "filter_3";
    font-family: "Material Icons";
    font-size: 3.0rem;
}
.t4 h3::before{
    color: #E25254;
    content: "filter_4";
    font-family: "Material Icons";
    font-size: 3.0rem;
}
.t5 h3::before{
    color: #E25254;
    content: "filter_5";
    font-family: "Material Icons";
    font-size: 3.0rem;
}
.t6 h3::before{
    color: #E25254;
    content: "filter_6";
    font-family: "Material Icons";
    font-size: 3.0rem;
}


/*------------Section Conseils-----------*/

.conseils{
    background-color: #E25254;
    background-image: url(../images/bg-conseils.png);
    padding-top: 80px;
    padding-bottom: 70px;
}
.conseils h2{
    font: normal 700 3.6rem "Josefin Sans", sans-serif;
    color: #fff;
}
.conseils p:not(.c1 p, .c2 p, .c3 p){
    color: #fff;
}
.articles-grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.conseils h3{
    margin: 0 0 40px;
}
.c1{
    display: flex;
    flex-direction: column;
}
.c1 p:last-of-type{
    align-self: flex-end;
    margin-top: 30px;
}
.c1, .c2, .c3{
    background-color: #fff;
    padding: 40px;
}
/*-----Icones----*/
.c1 h3::before{
    color: #474747;
    content: "star";
    font-family: "Material Icons";
    font-size: 3.0rem;
    font-variation-settings: 'FILL' 0;
}
.c2 h3::before{
    color: #474747;
    content: "star_half";
    font-family: "Material Icons";
    font-size: 3.0rem;
}
.c3 h3::before{
    color: #474747;
    content: "star";
    font-family: "Material Icons";
    font-size: 3.0rem;
}

/*-------Footer--------*/
footer{
    padding: 20px 0 20px;
    background-color: #E25254;
    color: #fff;
}
footer .wrapper{
    display: flex;
    justify-content: space-between;
}

/*------Modale------*/
.mod{
    color: #C1392B;
    margin: auto;
    font-size: 55rem;
}
.modale{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: #00000080;
    display: none;
}
.modale.visible{
    display: flex;
}